body {
    background-image: url(https://jualtaskbatikkulitasli.files.wordpress.com/2012/03/00-star-space-hubble-tile-pleiades.jpg?w=700&h=)
}

.jumbotron {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    opacity: 0.9;
}

.display-4 {
    font-family: 'Lobster', cursive;
    margin-left: 90px;
}
.card {
    margin: auto;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    background: white;
}

.card-header {
    font-size: 24px;
    text-align: center;
}

#pick {
    font-style: italic;
    font-weight: 600;
    /* margin-left: 180px; */
}